@keyframes multiplecolors{
    0%{
        color: red;
    }
    10%{
        color: orange;
    }
    30%{
        color: yellow
    }
    50%{
        color: green;
    }
    60%{
        color: blue;
    }
    80%{
        color: indigo;
    }
    100%{
        color: violet;
    }
}

@keyframes skeleton{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(1000%);
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

header{
    height: 25vh;
}

header section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

header section h1{
    font-size: clamp(2rem, 5rem, 8rem);
    font-family: cursive;
}

header section h1 div{
    display: flex;
    height: 10px;
    width: 80%;
    margin: 1rem auto 0px;
}

header section h1 div .box{
    flex: 0 0 25%;
}

.yellow{
    background-color: yellow;
}


.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.search-section, .results-section{
    margin: 2rem 0;
}

.search-box{
    width: 65%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.4);
    overflow: hidden;
}

.search-box form{
    width: 100%;
    position: relative;
}

.search-box form input[type="text"]{
    width: 100%;
    padding: 1rem 2rem;
    border: none;
}

.search-box form input[type="text"]:focus{
    outline: none;
}

.search-box form button{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 50px;
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
}

.search-box form button:hover{
    animation: multiplecolors .5s linear infinite;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    flex: 0 0 30%;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,.4);
    margin-bottom: 30px;
}

.card .image, .card .caption.shadow{
    overflow: hidden;
    background-color: lightgray; 
    border-radius: 20px;
    position: relative;
}

.card .image{
    height: 200px;
}

.card .caption.shadow{
    height: 20px;
}

.image.shadow + .caption.shadow{
    margin-left: 20px;
}

.image-container img{
    width: 100%;
    aspect-ratio: 1/1;
}

.display-name{
    font-size: 1.5rem;
    font-weight: bold;
    font-weight: bold;
    background: linear-gradient(
            to right, #f32170, #ff6b08,
             #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.caption{
    font-size: 1rem;
    margin-top: 5px;
}

.shadow::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 30px;
    background: linear-gradient(to right, transparent, #fff);
    animation: skeleton 2s ease-in infinite;
}

.spinner{
    margin: 20px auto;
    max-width: 5%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid grey;
    border-top: 3px solid red;
    animation: spin 2s linear infinite;
    display: none;
}

.spinner.active{
    display: block;
}

.grid.preloader{
    display: none;
}

.preloader.active{
    display: grid;
}


@media only screen and (min-width: 1200px){
    .search-box{
        width: 700px;
    }
}


@media only screen and (max-width: 600px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 600px){
    .search-box form button{
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {
    header section h1{
        font-size: 4rem;
    }

    .search-box{
        width: 250px;
    }

    .grid{
        grid-template-columns: 1fr;
    }
}